body{
    background-color: #ffffff;
background-image: linear-gradient(315deg, #d7e1ec 0%, #ffffff 74%);
}


#maincontainer{
    margin:auto;
    background:transparent;
    width: 100%;
    height: 100%;
    border-radius:26px;


    display: flex;
    flex-direction: row;
}
#plotarea{
    background:rgba(240,240,255,0.2);
    width:80%;
    margin:0.3%;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    
}
#control{
    background:rgba(240,240,255,0.2);
  /*  border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;*/
    display:flex;
    flex-direction: column;
    width:30%;
    
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;

}
#inputfunc{
    height: 30px;
}